extends layout

block content
  p welcome {title}

  #rc.hide Room Code :
    input(autocomplete='off')
    button Join

  #nm.hide Name :
    input(autocomplete='off')
    button Send


  script(src='/socket.io/socket.io.js')
  script(src='http://code.jquery.com/jquery-1.11.1.js')
  script.
    var socket = io();
    $('form').submit(function(){
        socket.emit('chat message', $('#m').val());
        $('#m').val('');
        return false;
    });

    socket.on('chat message', function(msg) {
      $('#messages').append($('<li>').text(msg));
    })


    function getCookie(key) {
      var list = {}, rc = document.cookie;
      rc && rc.split(';').forEach(function(cookie) {
        var parts = cookie.split('=');
        if (parts[0].trim() == key) {
          return parts[1];
        }
      })
      return null;
    }

